* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Century Gothic", CenturyGothic, sans-serif;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 2px 5px 0 rgba(45, 54, 65, 0.75);
}

.btn-hover.color-start {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
h1 {
  font-size: 18pt;
}

p {
  font-size: 14pt;
}

.llamaText {
  font-size: 12pt
}
.boxed {
  border: 5px solid black;
  padding: 10px 50px 10px;
  width: 750px;
  height: 350px;
  top: 50%;
  left: 50%;
  margin: 0 auto;
}

#std {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 50%;
}

/* Initialize looming oddball */
#oddBall {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 50%;
  overflow: auto
}

/* Initialize colored (red) disk */
#redBall {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  border-radius: 50%;
}

/* Initialize spiky disk */
#spikeyBall {
  background: black;
  width: 250px;
  height: 250px;
  position: relative;
  text-align: center;
} #spikeyBall:before,
#spikeyBall:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 250px;
  background: black;
} #spikeyBall:before {
  transform: rotate(30deg);
} #spikeyBall:after {
  transform: rotate(60deg);
}

.button {
background-color: #404040;
top: 50%;
left: 50%;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
transform: translate(-50%, -50%);
} .button:hover {
background-color: #606060;
color: white;
}
